<div class="main-box">

<div class="box">
<h2 class="sign-up">Update User</h2>
<%= form_with model: @user do |form| %>
  <div>
    <%= form.text_field :name, placeholder:"Name", class:"common" %>
  </div>

  <div>
    <%= form.number_field :mobile, placeholder:"Mobile", class:"common" %>
  </div>

  <div>
    <%= form.text_field :city, placeholder:"City", class:"common" %>
  </div>

  
  <div>
    <%= form.submit "Update User", class:"butn submit" %>
  </div>
<% end %>

</div>
</div>